.App {
  text-align: center;
}
.card {
  width: 70px;
  height: 70px;
  background-color: rgba(0, 0, 255, 0.413);
  color: white;
  margin: 10px;
}
.card-row {

}
.cards-conteiner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.grilla {
  display:flex;
  justify-content: center;
  margin-top: 50px;
}
